.balance-form {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.balance-text-field__input {
  width: 350px;
  /* background-color: rgba(42, 238, 3, 0.377); */
  background-color: rgba(46, 71, 42, 0.377);
  margin-bottom: 20px !important;
}

.balance-text-field__input > * {
  font-family: "Sansita Swashed", cursive !important;
  color: rgb(255, 238, 0) !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

@media only screen and (max-width: 600px) {
  .balance-text-field__input {
    width: 75vw;
    background-color: rgba(59, 53, 146, 0.377) !important;
    margin-bottom: 4vw !important;
  }

  .balance-text-field__input > * {
    color: rgb(255, 238, 0) !important;
    font-size: 4.5vw !important;
  }
}
